{% extends 'BinThere/base.html' %}

{% block title_block %}
    Change Password
{% endblock %}

{% block body_block %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Change Your Password</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="d-flex justify-content-center">
                    <button class="btn btn-lg btn-primary" type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
