{% extends 'BinThere/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}


{% block body_block %}

<div class="jumbotron p-4">
    <div class="container">
        
    <h1 class="jumbotron-heading">Welcome to BinThere!</h1>
    <strong>{{ boldmessage }}</strong><br /> 
    <h2>BinThere, DumpThat!</h2>
    <p>Visits: {{ visits }}</p>

    <button class="btn btn-primary" 
            onclick="alert('You clicked the button using inline JavaScript.');"> 
        Click me- I run on vanilla JavaScript! 
    </button>
    <br />

    <button class="btn btn-primary" id="about-btn"> 
        Click me- I'm using JQuery! 
    </button>
    <br />
    
    <!-- Static image of Rango -->
    <img src="{% static "images/GreenLeaf.jpg" %}" alt="Picture of An Eco logo" />

    
    <br />
    <div id="msg">Hello! I'm a further example for JQuery testing.</div>


    
    <!-- Media image of a cat -->
     <img src="{{ MEDIA_URL }}RubbishInBin.jpg" alt="Picture of a Man Putting Rubbish in a Bin." /> 
    
    </div>
</div>
{% endblock %}