{% extends 'BinThere/base.html' %}
{% load static %}

{% block title_block %}
    Help
{% endblock %}

{% block body_block %}
<head>
    <link rel="stylesheet" href="{% static 'css/helpstyle.css' %}">
</head>

<div class="container mt-5">
    <h1 class="text-center">Help</h1>

    <details>
        <summary>Make a new account.</summary>
        <p>Click on the 'Register Here' button in the top bar.</p>
    </details>

    <details>
        <summary>Update Profile</summary>
        <p>Click on the 'Profile' button to update your website link or to change your profile picture.</p>
    </details>

    <details>
        <summary>Can I add a new bin type?</summary>
        <p>We are sorry, but currently this is not possible. Although we are working on it so stay tuned.</p>
    </details>

    <details>
        <summary>What is Upvote and Downvote?</summary>
        <p>It is a interactive system to help us see if there is a problem with the bin location or not. 
            Upvote if everything was okay and Downvote if there are problems. Join us to improve the map!</p>
    </details>

    <details>
        <summary>What is the website section in the profile?/ Do I need to add a website?</summary>
        <p>No, you don't have to. However if you do want to, you can add your social media link or even a link to your favourite shop that commits to sustainability!</p>
    </details>

    <details>
        <summary>Other</summary>
        <p>Send us an email to <a href="mailto:bintherehelp@gmail.com">bintherehelp@gmail.com</a> and we will reply within 1-3 working days.</p>
    </details>
</div>
{% endblock %}
