{% extends 'BinThere/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}


{% block body_block %}

<!-- Custom HomeStyle CSS -->
<link rel="stylesheet" href="{% static 'css/homestyle.css' %}">


<div class="container">
    <h1 class="jumbotron-heading">BinThere</h1>
    

    <div class="button-wrapper">
        <!-- Left group of buttons -->
        <div class="btn-group-left">
            <a href="{% url 'BinThere:bin_map' %}">
                <button type="button" class="btn btn-primary">Bin Map</button>
            </a>

            <a href="{% url 'BinThere:bin_list' %}">
                <button type="button" class="btn btn-primary">List Of Bins</button>
            </a>

            {% if user.is_authenticated %}
            <a href="{% url 'BinThere:add_bin' %}">
                <button type="button" class="btn btn-primary">Add Bin</button>
            </a>
            {% endif %}
        </div>

        <!-- Right group of buttons -->
        <div class="btn-group-right">
            {% if user.is_authenticated %}

            <a href="{% url 'auth_password_change' %}?next=/BinThere"> 
                <button type="button" class="btn btn-primary">Change Password</button>
            </a>

            <a href="{% url 'auth_logout' %}?next=/BinThere"> 
                <button type="button" class="btn btn-primary">Sign Out</button>
            </a>
            {% endif %} 
            
            {% if not user.is_authenticated %}
            <a href="{% url 'auth_login' %}">
                <button type="button" class="btn btn-primary">Sign In</button>
            </a>
            {% endif %}
        </div>
    </div>


{% endblock %}