{% extends 'BinThere/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}


{% block body_block %}

<style>
    /* Center the buttons in the middle of the screen */
    
</style>

<div class="container">
        
    <h1 class="jumbotron-heading">BinThere</h1>

    <div class="btn-group" role="group" aria-label="Button group">
        <a href="{% url 'BinThere:bin_map' %}">
            <button type="button" class="btn btn-primary">Bin Map</button>
        </a>
    </div>

    <strong>{{ boldmessage }}</strong><br /> 
    <h2>BinThere, DumpThat!</h2>
    <p>Visits: {{ visits }}</p>

    <button class="btn btn-primary" 
            onclick="alert('You clicked the button using inline JavaScript.');"> 
        Click me- I run on vanilla JavaScript! 
    </button>
    <br />

    <button class="btn btn-primary" id="about-btn"> 
        Click me- I'm using JQuery! 
    </button>
    <br />
    
    <!-- Static image of ECO logo -->
    <img src="{% static "images/GreenLeaf.jpg" %}" alt="Picture of An Eco logo" />

    
    <br />
    <div id="msg">Hello! I'm a further example for JQuery testing.</div>

    <div>

     <img src="{{ MEDIA_URL }}RubbishInBin.jpg" alt="Picture of a Man Putting Rubbish in a Bin." /> 
    
    </div>
</div>
{% endblock %}