{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>BinThere - BinMap</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
     <!-- Custom MapStyle CSS -->
     <link rel="stylesheet" href="{% static 'css/mapstyle.css' %}">

</head>
<body>
    <!-- Navbar Container at the top of the page -->
    <div id="navbar-container">
        <nav class="navbar navbar-expand-md fixed-top p-0">
            <a class="navbar-brand p-2" href="{% url 'BinThere:home' %}" style="background-color: transparent; padding: 0px;">
                <img src="static/Images/Home.png" alt="Home" width="120">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'BinThere:bin_list' %}">BinList</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'BinThere:help' %}">Help</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'BinThere:add_bin' %}">Add Bin</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'auth_password_change' %}">Change Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'BinThere:profile' user.username %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'BinThere:list_profiles' %}">List Profiles</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Register Here</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_logout' %}?next={% url 'BinThere:bin_map' %}">Sign Out</a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Sign In</a></li>
                {% endif %}
            </ul>
                
        </nav>
        
    </div>

    <!-- Map Container -->
    <h1>Recycling Bin Locations</h1>
    <div id="map"></div>

    <!-- Scripts -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/map.js' %}"></script>

    <!-- Neccessary Evil for Passing bin data to JavaScript -->
    <script>
        var backgroundImageUrl = "{% static 'Images/Background.png' %}";
        var binData = JSON.parse('{{ bin_data|escapejs }}');
        initializeMap(binData);
    </script> 
</body>

<footer>
    <p>&copy; 2025 BinThere Group Project. All rights reserved. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</html>